@model Subscription

@{
	ViewBag.Title = "Home Page";
}

<body>
	<div class="container-md">
		<h1>Add Subscription</h1>
	</div>


	<div class="container">
		<div>
			<div class="col-md-6 justify-content-center">

			<div class="col-md-6">
				<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Cancel</a>
			</div>

			<form asp-action="CreateSubscription" method="post">

				<div asp-validation-summary="All" class="text-bg-danger">

				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="Name">Subscription Name:</label>
					<input class="form-control" type="text" asp-for="Name" placeholder="Subscription Name" />
					<span asp-validation-for="Name" />
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="Price">Price:</label>
					<input class="form-control" type="text" asp-for="Price" placeholder="Price" required />
					<span asp-validation-for="Price" />
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="Email">Email</label>
					<input class="form-control" type="email" asp-for="Email" placeholder="email@Domain.com" required />
					<span asp-validation-for="Email" />
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="RenewalType">Renewal Type</label>

					<select class="form-control" asp-for="RenewalType">
						@foreach (RenewTypeEnum item in Enum.GetValues(typeof(RenewTypeEnum)))
						{
							<option value="@item" label="@item" />
						}

					</select>

				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="Category">Category</label>

					<select class="form-select" asp-for="Category">
						@foreach (CategoryTypeEnum item in Enum.GetValues(typeof(CategoryTypeEnum)))
						{
							<option value="@item" label="@item" />
						}
					</select>
				</div>

				<div class="mb-3">
					<label class="form-label" asp-for="PurchaseDate">Purchase Date</label>
					<input class="form-control" asp-for="PurchaseDate" type="date" required />
					<span asp-validation-for="PurchaseDate" />
				</div>

				<button type="reset">Clear</button>
				<button type="submit">Submit</button>
			</form>
		</div>
		</div>
	</div>
</body>