@model Subscription

@{
	ViewBag.Title = "Delete Subscription";
}


<body>
	<div class="container">
		<div class="col-md-6">
			<h3>Are you sure you want to delete @Model.Name</h3>

			<form asp-action="Delete" method="post">
				<input type="hidden" asp-for="Id" value="@Model.Id" />

				<div class="btn-group">
					<button type="submit" class="btn btn-danger">Confirm</button>
					<button class="btn btn-danger">Cancel</button>
				</div>
			</form>

		</div>
	</div>
</body>